@charset "utf-8";

body{
  font:75%/1.5 Georgia, "Times New Roman", Times, serif;
  padding: 50px;
}

.clearfix:before, .clearfix:after{ content:""; display:table;}
.clearfix:after { clear:both;}
.clearfix{ zoom:1;}

h1{
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: .2em;
  font-weight: 100;
}
h2{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 10px;
}